<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--<meta http-equiv="refresh" content="60" />-->
    </head>
    <body ng-app="BattleUI" style="font-family: monospace">

    <div ng-controller="WatchersController"><!-- layout="column">-->

        <md-toolbar style="background:black; color:white; text-align: center;">
            <h1 style="margin-top: 7px;">{{ title }}</h1>
        </md-toolbar>
       
            <div class="container">
                <!--<div class="row" ng-repeat="watchersRow in chunkedWatchers">
                        <div ng-repeat="w in watchersRow" ng-if="w.active" class="col-sm card" style="width: 200px;">
                        <object class="card-img-top" data="gif/{{w.id}}.gif" type="image/png">
                            <img class="card-img-top" src="gif/0.gif" alt="Card image cap">
                        </object>
                        
                        <div ng-if="w.alive" class="card-body" style="background: rgb(50,200,50); color: white">
                          <h5 class="card-title" style="overflow-wrap: normal;">{{w.name}}</h5>
                          <p class="card-text">Жив | Смертей: {{w.deathCnt}}</p>
                        </div>
                        <div ng-if="!w.alive" class="card-body" style="background: rgb(200,50,50); color: white">
                                <h5 class="card-title" style="overflow-wrap: normal;">{{w.name}}</h5>
                                <p class="card-text">Убит | Смертей: {{w.deathCnt}}</p>
                        </div> 
                </div>  
                </div>-->
                <div class="row">
                <div ng-repeat="(mission, missionWatchers) in watchersByMission" class="col-6">
                    <button 
                        class="btn btn-primary" 
                        type="button" 
                        data-toggle="collapse"  
                        ng-attr-data-target="#{{ mission }}" 
                        aria-expanded="false" 
                        ng-attr-aria-controls="{{ mission }} "
                        style="background: #333333;
                        border-color: #333333;
                        border-radius: unset;
                        width: 100%;
                        box-shadow: 0 0 0 0.2rem rgba(123,123,123,.5);">
                            Высадка: {{ mission }}
                    </button>
                    <!--<md-toolbar style="background:#333333; color:white; text-align: center;">
                        <h2 style="margin-top: 7px;">{{ mission }}</h2>
                    </md-toolbar>-->
                    <div class="collapse show" ng-attr-id="{{ mission }}">
                    <div class="row" ng-repeat="watchersRow in missionWatchers" style="max-width: 100%; margin: 0px;">
                            <div ng-repeat="w in watchersRow" ng-if="w.active" class="col-sm card" style="max-width: 20%; width: 200px; padding-left: 0px; padding-right: 0px;">
                            <object class="card-img-top" data="gif/{{w.id}}-min.gif" type="image/png">
                                <img class="card-img-top" src="gif/0-min.gif" alt="Card image cap">
                            </object>
                            
                            <div ng-if="w.alive" class="card-body" style="background: rgb(50,50,200); color: white; padding: 0.5rem;">
                              <h5 class="card-title" style="overflow-wrap: normal; margin-bottom: 0rem; font-size: 1rem; text-align: center;">{{w.name}}</h5>
                              <p class="card-text" style="text-align: center">Жив|{{w.deathCnt}}</p>
                            </div>
                            <div ng-if="!w.alive" class="card-body" style="background: rgb(200,50,50); color: white; padding: 0.5rem;">
                                    <h5 class="card-title" style="overflow-wrap: normal; margin-bottom: 0rem; font-size: 1rem;  text-align: center;">{{w.name}}</h5>
                                    <p class="card-text" style="text-align: center">Убит|{{w.deathCnt}}</p>
                            </div> 
                    </div>  
                    </div>
                </div>
                <div ng-if="$odd" class="w-100"></div>
                </div>
            </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="node_modules/lodash/lodash.min.js"></script>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-aria/angular-aria.min.js"></script>
        <script src="node_modules/angular-animate/angular-animate.min.js"></script>
        <script src="node_modules/angular-material/angular-material.min.js"></script>
        <script src="watchersController.js"></script>
    </body>
</html>